{%- style -%}
  .divider {
    grid-column: 1 / span 5;
    border: 0;
    margin: 0;
    grid-row: 2;
    align-self: end;
    position: relative;
    top: .7rem;
    z-index: 100000;
    border-radius: 30px;
    overflow: hidden;
  }

  .divider hr:first-child, .divider hr:last-child {
    margin: 0;
    border: 0;
    height: 12px;
    position: relative;
    -webkit-mask-image: url("{{ 'border.svg' | asset_url }}");
    mask-image: url("{{ 'border.svg' | asset_url }}");
  }

  .divider hr:first-child {
    background-color: var(--color-green--dark);
    top: 8px;
  }

  .divider hr:last-child {
    background-color: var(--color-green--light);
    top: -8px;
  }

  .block--green .divider {
    grid-column: 7 / span 5;
  }
{%- endstyle -%}

<div class="divider">
  <hr />
  <hr />
</div> 