<div class="modal" id="waitlist-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-modal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-title">
      <h2 class="modal__title" id="modal-title">Join Our Waitlist</h2>
      <div class="modal__content">
        <div>Soon, we'll be <strong>shipping our pesto nationwide</strong>! Sign up now to know when it's ready to order!</div>
        {% form 'customer', class: 'newsletter-form' %}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="field">
            <label class="field__label" for="NewsletterForm--modal">
              Email address
            </label>
            <input
              id="NewsletterForm--modal"
              type="email"
              name="contact[email]"
              class="field__input"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="Newsletter-error--modal"
              {% elsif form.posted_successfully? %}
                aria-describedby="Newsletter-success--modal"
              {% endif %}
              placeholder="Enter your email"
              required
            >
          </div>
          {%- if form.errors -%}
            <small class="newsletter-form__message form__message" id="Newsletter-error--modal">
              <svg aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-error" />
              </svg>
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </small>
          {%- endif -%}
          {%- if form.posted_successfully? -%}
            <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--modal" tabindex="-1" autofocus>
              <svg aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-success" />
              </svg>
              {{ 'newsletter.success' | t }}
            </h3>
          {%- endif -%}
          <button type="submit" class="button newsletter-form__button" name="commit" id="Subscribe">
            Sign up
          </button>
        {% endform %}
      </div>
    </div>
    <button class="modal__close" aria-label="Close modal" data-modal-close>
      &times;
    </button>
  </div>
</div> 