<div class="block block--reverse" id="about-us">
  <img src="{{ 'group_pic.jpeg' | asset_url }}" class="block__image" alt="Megan and Will, the founders of Pesto For All"/>
  <div class="block__text">
    <h2 class="block__headline">
      About Megan &amp; Will
    </h2>
    <p>
      We've loved food for as long as we've been together. Once we started making our own pesto, Megan wanted to turn that passion into a business and we started Pesto For All in 2022. 
    </p>
    <p>
      We can't believe how much support we've gotten along the way, and can't wait for what's next!
    </p>
  </div>
  <div class="divider">
    <hr />
    <hr />
  </div>
</div>

{% schema %}
{
  "name": "About",
  "presets": [
    {
      "name": "About"
    }
  ]
}
{% endschema %} 