<div class="block block--green">
  <img src="{{ 'brown_derby_pic.png' | asset_url }}" class="block__image" alt="Our frozen pesto on the shelf in a freezer at Brown Derby"/>
  <div class="block__text">
    <h2 class="block__headline">
      Brown Derby Wine Center
    </h2>
    <p>
      You can also find our frozen pesto at <a href="https://brownderby.com/" target="_blank" rel="noopener">Brown Derby Wine Center</a>, in the <strong>freezer on your right</strong> as you walk in. Perfect for pairing with their selection of fine wines and gourmet foods!
    </p>
    <p>
      Our <strong>pesto "half moon" pieces</strong> are sold in a resealable pouch, and stay fresh for up to six months.
    </p>
  </div>
  {% render 'divider' %}
</div>

{% schema %}
{
  "name": "Brown Derby",
  "presets": [
    {
      "name": "Brown Derby"
    }
  ]
}
{% endschema %} 