<div class="block block--reverse">
  <div class="block__text">
    <h2 class="block__headline">
      Farmers Market of the Ozarks
    </h2>
    <p>
      Although we're in grocery stores now, we still love selling our fresh pesto at <strong><a href="https://www.loveyourfarmer.com/" target="_blank" rel="noopener">Farmers Market of the Ozarks</a></strong>!
    </p>
    <p>
      We're there pretty much every Saturday from 8 a.m. to 1 p.m., from Late May until Early October. Follow us on <a href="https://www.instagram.com/{{ settings.instagram_username }}/" target="_blank" rel="noopener"><strong>Instagram</strong></a> to see when we'll be there!
    </p>
  </div>
  <div class="block__image">
    <iframe
      width="100%"
      height="100%"
      frameborder="0"
      style="border:0; min-height: 400px;"
      src="https://www.google.com/maps/embed/v1/place?q=Farmers+Market+of+the+Ozarks,+Republic+Road,+Springfield,+MO,+USA&key={{ settings.google_maps_api_key }}"
      allowfullscreen>
    </iframe>
  </div>
  <div class="divider">
    <hr />
    <hr />
  </div>
</div>

{% schema %}
{
  "name": "Farmers Market",
  "settings": [
    {
      "type": "text",
      "id": "google_maps_api_key",
      "label": "Google Maps API Key",
      "info": "Required for the embedded map"
    }
  ],
  "presets": [
    {
      "name": "Farmers Market"
    }
  ]
}
{% endschema %} 