<div class="starburst__container" data-modal-open="waitlist-modal">
  <svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97" class="starburst">
    <path d="M34.0608 3.34164C34.8191 1.53134 37.0828 0.924789 38.6447 2.1134L44.3787 6.47712C45.5458 7.36532 47.184 7.27946 48.2519 6.27413L53.4983 1.33495C54.9274 -0.0104051 57.2421 0.356206 58.1855 2.07732L61.6488 8.396C62.3538 9.68212 63.8853 10.27 65.2697 9.78593L72.0715 7.40769C73.9243 6.7599 75.8897 8.03628 76.0515 9.99231L76.6454 17.1734C76.7663 18.635 77.9263 19.795 79.3879 19.9159L86.569 20.5098C88.525 20.6716 89.8014 22.6371 89.1536 24.4898L86.7754 31.2916C86.2913 32.6761 86.8792 34.2076 88.1653 34.9125L94.484 38.3759C96.2051 39.3193 96.5717 41.634 95.2264 43.063L90.2872 48.3095C89.2819 49.3773 89.196 51.0155 90.0842 52.1826L94.4479 57.9166C95.6365 59.4785 95.03 61.7422 93.2197 62.5005L86.5736 65.2844C85.2209 65.8511 84.4761 67.3127 84.8128 68.7402L86.467 75.7533C86.9176 77.6636 85.4428 79.4849 83.4806 79.4413L76.2767 79.2814C74.8104 79.2488 73.5356 80.2812 73.2626 81.7222L71.9213 88.8019C71.5559 90.7303 69.4678 91.7942 67.693 90.9563L61.177 87.8801C59.8507 87.254 58.2662 87.6785 57.4306 88.8839L53.3257 94.806C52.2076 96.419 49.8673 96.5417 48.5867 95.0543L43.8853 89.5938C42.9283 88.4824 41.3081 88.2257 40.0545 88.9871L33.8958 92.7275C32.2183 93.7464 30.0304 92.9065 29.4654 91.0269L27.3915 84.1262C26.9693 82.7216 25.5935 81.8282 24.1387 82.0138L16.991 82.9259C15.0441 83.1743 13.387 81.5172 13.6354 79.5703L14.5475 72.4226C14.7332 70.9678 13.8397 69.592 12.4351 69.1699L5.53446 67.0959C3.65482 66.531 2.81497 64.3431 3.83381 62.6655L7.57425 56.5068C8.33559 55.2533 8.07896 53.633 6.96752 52.6761L1.507 47.9746C0.0196306 46.694 0.142282 44.3537 1.75536 43.2356L7.6774 39.1307C8.88279 38.2952 9.30737 36.7106 8.68123 35.3843L5.60504 28.8684C4.76713 27.0935 5.83108 25.0054 7.75947 24.6401L14.8391 23.2988C16.2801 23.0258 17.3125 21.7509 17.28 20.2846L17.12 13.0808C17.0764 11.1186 18.8977 9.64372 20.808 10.0943L27.8211 11.7485C29.2486 12.0852 30.7103 11.3405 31.2769 9.98772L34.0608 3.34164Z" fill="currentColor"/>
    <text x="34.5" y="28" text-anchor="middle" font-family="Recoleta" font-size="12" line-height=".9">
      <tspan x="48.5" dy="0">Online</tspan>
      <tspan x="48.5" dy="16">orders</tspan>
      <tspan x="48.5" dy="16">coming</tspan>
      <tspan x="48.5" dy="16">soon!</tspan>
    </text>
  </svg>
</div>

{% render 'modal' %}

{% schema %}
{
  "name": "Floating Starburst",
  "presets": [
    {
      "name": "Floating Starburst"
    }
  ]
}
{% endschema %}
