<div class="block block--green" id="our-inspiration">
  <img src="{{ 'italy-image.png' | asset_url }}" class="block__image" alt="Narrow street we saw in our trip to Italy"/>
  <div class="block__text">
    <h2 class="block__headline">
      Our inspiration
    </h2>
    <p>
      Our honeymoon in Italy was the first time we tried fresh pesto. And we couldn't believe how much better it was than the stuff in stores! Once we got back, we started making our own pesto and haven't stopped since.
    </p>
  </div>
  <div class="divider">
    <hr />
    <hr />
  </div>
</div>

{% schema %}
{
  "name": "Inspiration",
  "presets": [
    {
      "name": "Inspiration"
    }
  ]
}
{% endschema %} 