<div class="block block--dark-green block--reverse">
  <div class="block__text">
    <h2 class="block__headline">
      MaMa Jean's Natural Market
    </h2>
    <p>
      Our pesto can be found at <strong>all three locations of <a href="https://www.mamajeansmarket.com/" target="_blank" rel="noopener">MaMa Jean's Natural Market</a></strong>, in the freezer aisle!
    </p>
    <p>
      After making our fresh pesto, we immediately freeze it in small molds that are easy to use in all your favorite recipes.
    </p>
  </div>
  <img src="{{ 'mama-jeans-store.png' | asset_url }}" class="block__image" alt="MaMa Jean's Natural Market storefront"/>
  <div class="divider">
    <hr />
    <hr />
  </div>
</div>

{% schema %}
{
  "name": "Mama Jean's",
  "presets": [
    {
      "name": "Mama Jean's"
    }
  ]
}
{% endschema %} 