<div class="block block--hero">
  <div class="hero__content">
    <div class="hero__text">
      <h1 class="hero__title">
        Find us </span class="break hide-on-mobile"> in Springfield </span class="break hide-on-mobile"> stores
      </h1>
      <p class="hero__description">
        After three amazing years at the Farmers Market of the Ozarks, our basil pesto is now available at several retailers throughout Springfield!
      </p>
      <p class="hero__description">
        Look for our resealable freezer pouches in the freezer section.
      </p>
      <a href="https://www.instagram.com/{{ settings.instagram_username }}/" class="button hero__cta" target="_blank" rel="noopener">Follow us for updates</a>
    </div>
    <div class="hero__image-wrapper">
      <img src="{{ 'store_pic.jpeg' | asset_url }}" class="hero__image" alt="Our frozen pesto being stocked in grocery"/>
    </div>
  </div>
  <div class="divider">
    <hr />
    <hr />
  </div>
</div>

{% schema %}
{
  "name": "Where to Find Us Hero",
  "presets": [
    {
      "name": "Where to Find Us Hero"
    }
  ]
}
{% endschema %} 